<% include ./noscript %>
<div id="header">
<div id="pizza"> <img src="./assets/pizza.png" alt="Pizzaaa" width="200" height="200"></div>

<div class="title">

<div id="pizzaBGSlices">    
<div id="pizzaSlice1"> <img src="./assets/pizzapunt2.png" alt="Pizza Punt" width="100" height="100"></div>
<div id="pizzaSlice2"> <img src="./assets/pizzapunt2.png" alt="Pizza Punt" width="100" height="100"></div>
<div id="pizzaSlice3"> <img src="./assets/pizzapunt2.png" alt="Pizza Punt" width="100" height="100"></div>
</div>


<h3>The pizza You've Chosen is:</h3>
<div id="checkOutWrapper"><h1><%= myPizza%></h1></div>
<button>Redirect to Payment App</button>


    </div>
    </div>




